.list {
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  display: grid;
  margin: 24px 0;
  gap: 24px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  height: 264px;
}