@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html {
  font-family: Inter, Helvetica, sans-serif;
}

.main-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  color: #14141E
}

.section-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25em;
  color: #14141E;
}


@media (min-width: 1240px) {
  .main-heading {
    font-size: 72px;
  }

  .section-heading {
    font-size: 32px;
  }
}