.table {
  margin-top: 14px;
  margin-bottom: 14px;
  border-collapse: collapse;

  :global th {
    padding: 16px 16px 15px;
    background-color: #EDE6FB;
    color: #1D0053;
    font-size: 16px;
    line-height: 1.5em;
    text-align: left;

    &:first-of-type {
      border-radius: 6px 0 0 6px;
    }

    &:last-of-type {
      width: 100%;
      border-radius: 0 6px 6px 0;
    }
  }

  :global td {
    padding: 16px 16px 15px;
    color: #14141E;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    white-space: nowrap;

    font-size: 16px;
    line-height: 1.5em;
    text-align: left;
    
    &:first-of-type {
      font-weight: 500;
    }

    &.East, &.West {
      padding: 13px 16px 14px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.3em;

      div {
        padding: 6px 16px;
        width: min-content;
        border-radius: 21px;
      }
    }

    &.East div {
      background-color: #DAF5EE;
      color: #1FAD87;
    }

    &.West div {
      background-color: #FFEAE3;
      color: #E64A18;
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  height: 686px;
}

@media (max-width: 769px) {
  table {
    width: 100%;

    thead {
      display: none;
    }

    tr {
      display: block;
      padding: 0 5px;
      border-radius: 4px;

      &:nth-child(even) {
        background-color: #ede6fb;
      }
    }

    td {
      display: flex;
      position: relative;
      justify-content: flex-end;


      &::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: calc(50% - 12px);
        width: 50%;
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5em;
        text-transform: none;
      }
    }

    :global td.East .inner, :global td.West .inner {
      background-color: transparent;
      color: #14141E;
      padding: 0;
      font-size: 16px;
      line-height: 1.5em;
      font-weight: 400;
    }
  }
}